/* Adjust the styles to position the search bar correctly */
.searchbarContainer {
  align-items: flex-start;
}
.BarContainer {
  display: flex;
  flex-direction: row;
  background: rgba(195, 195, 195, 0.516);
  width: 650%;
  height: 50px;
  align-items: center; /* Center items vertically */
}

.searchbar {
  display: flex;
  flex: 1; /* Use flex to take up remaining space */
}

.input {
  margin-left: 10px;
}

.search-icon {
  margin-left: 10px;
  font-size: 20px;
}
