* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.FlexContainer {
  display: flex;
  height: 100vh;
  width: 100%;
}
.col-flex-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100vh;
  overflow-y: auto;
}
.Sidebar {
  background: #00215b;
  color: white;
  width: 260px;
}

.routes {
  color: white;
}
.Logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #028ab6;
}
.Text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 25px;
  position: relative;
}
.Text::after {
  content: "";
  width: 175%;
  height: 1px;
  background-color: #ccc; /* Choose a color for the line */
  position: relative;
  bottom: -10px; /* Position at the bottom of .Text */
  left: -20%; /* Adjust the left position to center the bar */
  margin-bottom: 5px;
}

.LogoImage {
  width: "37px";
  height: "36px";
  object-fit: cover;
  align-items: flex-start;
  margin-left: 5px;
}
a {
  text-decoration: none;
}
.SmartLoan {
  font-size: 15px;
  font-weight: bold;
  align-self: center;
  padding: 5px;
}

.Slogan {
  font-size: 10px;
  font-weight: normal;
}

.link {
  display: flex;
  color: white;
  gap: 10px;
  font-size: 30px;
  padding: 5px 15px;
  margin-top: 5px;
}
.ExtraText {
  font-size: 20px;
  font-weight: normal;
  align-self: center;
  margin-left: 14px;
  padding: 5px;
}

.LinkText {
  font-size: 17px;
  margin-top: 5px;
}

.link2 {
  display: flex;
  color: white;
  gap: 10px;
  font-size: 30px;
  padding: 5px 15px;
  margin-top: 5px;
}
.ExtraText2 {
  font-size: 20px;
  font-weight: normal;
  align-self: center;
  margin-left: 10px;
  padding: 5px;
}

.LinkText2 {
  font-size: 17px;
  margin-top: 5px;
}

.link:hover {
  background-color: #2997bb;
  color: white;
  border-radius: 5px;
  transition: 0.5s;
}

.link2:hover {
  background-color: #2997bb;
  color: white;
  border-radius: 5px;
  transition: 0.5s;
}

.RouteContainer {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* Remove the horizontal line */
.Text::after {
  content: "";
  width: 175%;
  height: 0; /* Set height to 0 to remove the line */
  /* ... */
}

/* Style the active links */
.link.active,
.link2.active {
  background-color: #2997bb; /* Set the background color for active links */
  color: white; /* Set the text color for active links */
  border-radius: 5px;
  transition: 0.5s;
}