.Upload-Container {
  display: flex;
  flex-direction: column;
  height: 650px;
  width: 1000px;
  margin-top: 0px;
  margin-left: 0px;

}
.innerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.UploadText {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: center;
}
.PicUpload {
  height: 384px;
  width: 341px;
  border: 4px solid #72d7f5;
  margin-top: 70px;
  margin-left: 120px;
  flex-direction: column;
}
.pic {
  height: 168px;
  width: 224px;
  align-self: center;
  margin-top: 65px;
  margin-left: 45px;
}
.picText1,
.pdfText1,
.pdfText2,
.picText2,
.picText3,
.pdfText3 {
  text-align: center; /* Center text horizontally */
}
.picText1,
.pdfText1,
.picText2,
.pdfText2 {
  margin-top: 10px;
}

.picText3 {
  margin-top: -15px;
}
.pdfText3 {
  margin-top: 15px;
}
.PdfUpload {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 384px;
  width: 341px;
  align-self: flex-end;
  border: 2px dashed #e46e6b;
  transition: background-color 1s, border 1s;
  cursor: pointer;
  border-radius: 10px;
}

.PdfUpload:hover {
  border: 2px solid #e46e6b; 
  background-color: #e6e6e6d2; 
}
.pdf {
  height: 120px;
  width: 120px;
  align-self: center;

}

.btn-pdf,
.btn-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100px;
  margin-top: 20px;
  margin-left: 120px;
  margin-right: 120px;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.btn-pic {
  background-color: #72d7f5;
}
.btn-pdf {
  background-color: #e46e6b;
}

